.form-container {
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: space-between;
}

.form-message {
    width: 90vw;
    max-width: 500px;
    height: 50vh;
    font-size: 1.2rem;
    padding: 2rem 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-user {
    width: 90vw;
    max-width: 500px;
    border: solid 2px rgba(255, 255, 255, 0.7);
    background-color: rgba(25, 39, 74, 1);
    padding: 1rem;
    font-size: 1.2rem;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-button {
    width: 90vw;
    max-width: 500px;
    background-color: rgba(239, 67, 67, 1);
    padding: 1rem;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
}

.form-button:active {
    scale: 1.1;
}