/* .messages-header {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1rem;
} */

.nomessage-text {
    padding: 2rem 1rem;
    color: white;
    font-size: 1.2rem;
    text-align: center;
}

.sort-container {
    color: white;
    text-align: center;
    margin-top: 2rem;
}

.sort-button {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    background-color: white;
}

.sort-button:active {
    scale: 1.1;
}

.sort-input {
    padding: 0.5rem;
    border-radius: 5px;
}

.message-container {
    /* background-image: url(../../assets/card.png);
    background-position: center;
    background-repeat: no-repeat; */
    background-color: white;
    margin: 2rem;
    width: 70vw;
    max-width: 500px;
    border-radius: 5px;
}

.messageinfo-container {
    display: flex;
    justify-content: space-between;
}

.message-date {
    color: rgba(0, 0, 0, 0.4);
    padding: 1rem;
}

.message-icon {
    margin-top: 0.5rem;
    margin-right: 1rem;
    height: 1.8rem;
    opacity: 0.4;
    cursor: pointer;
}

.message-icon:hover,
.message-icon:active {
    opacity: 1;
}

.message-text {
    padding: 0.5rem 1rem;
}

.message-username {
    padding: 1rem;
}

.writeMsg-btn {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    cursor: pointer;
}

.writeMsg-btn:active {
    scale: 1.1;
}